body {
	font-size: 16px;
	padding: 0;
	margin: 0;
	font-family: 'Raleway', sans-serif;
	overflow: hidden;
	background-color: #56AECC;
}

#bg-img {
	background: url(http://i.imgur.com/Eourq.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#detection {
	opacity: 0;
}

#dateTime {
	bottom: 50;
	left: 50;
	position: fixed;
	color: #FFF;
	padding: -1em;
	margin: 0;
}

#date {
	font-size: 2em;
}

#time {
	font-size: 5em;
}

#again {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: rgba(181,181,181,0.5);
	border: 3px solid #FFF;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	  align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	  justify-content: center;
}

#abtn {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-moz-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	  align-items: center;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	  justify-content: center;
	  margin-top: 15em;
}
